<div class="booking-container">
  <h1>Make a Booking</h1>
  <h3>Fill out the form below to book one of our services</h3>
  <div class="booking-part">
    <div class="booking-part-left">
      <div class="left-cleaning-details">
        <h2>Cleaning Details</h2>
        <p>Please provide the following details</p>
      </div>
      <div class="left-time-and-date">
        <h2>Book a Date and Time</h2>
        <p>Please select the desired number of visits and book the date for the cleaner's first visit</p>
      </div>
      <div class="left-account-info">
        <h2>Account Information</h2>
        <p>Please provide the following information</p>
      </div>
    </div>
    <div class="booking-part-right" data-controller="calculate-price">
      <%= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
        <div class="form-part-up">
          <%= f.input :bedrooms, collection: ["Studio", "1", "2", "3", "4", "5"], as: :radio_buttons, input_html: { class: 'bedrooms-input', data: {calculate_price_target: "bedroom", action: "change->calculate-price#calculateestimation"} }, checked: "Studio" %>
          <%= f.input :bathrooms, collection: ["1", "2", "3", "4", "5", "6+"], as: :radio_buttons, input_html: { class: 'bathrooms-input', data: {calculate_price_target: "bathroom", action: "change->calculate-price#calculateestimation"} }, checked: "1" %>
          <%= f.input :size, collection: ["0 < 25m²", "25 < 35", "35 < 55", "55 < 80", "80 < 120", "120m² +"], as: :radio_buttons, input_html: { class: 'bedrooms-input', data: {calculate_price_target: "size", action: "change->calculate-price#calculateestimation"} }, checked: "0 < 25m²" %>
          <%= f.input :cleaning_type, collection: ["Standard", "Standard +", "Deep"], as: :radio_buttons, input_html: { class: 'cleaning-input', data: {calculate_price_target: "cleaning", action: "change->calculate-price#calculateestimation"} }, checked: "Standard" %>
          <div class="estimated-up">
          <div class="estimated-up-left">
            <h5>Estimated Cleaning Time</h5>
            <p data-calculate-price-target="estimatedtime"> </p>
          </div>
          <div class="estimated-up-right">
            <h5>Fee</h5>
            <p data-calculate-price-target="estimatedprice"> </p>
          </div>
          </div>
        </div>
        <div class="form-part-middle">
          <%= f.input :number_of_visits, collection: 1..5, as: :radio_buttons, input_html: { class: 'number-input' } %>
          <div class="form-part-middle-dates">
            <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="form-part-down">
            <div class="form-down-address">
              <%= f.input :address %>
              <%= f.input :zipcode, as: :integer %>
              <%= f.input :city %>
              <%= f.input :country, as: :string %>
            </div>
            <%= f.input :further_info, as: :text %>
          </div>
        <% else %>
          <div class="form-part-down">
              <p>Already have an account? Please <%= link_to "sign in", new_user_session_path %> first.</p>
            <div class="form-down-address">
              <%= f.input :new_user_name %>
              <%= f.input :new_user_phone %>
              <%= f.input :new_user_email %>
              <%= f.input :new_user_password %>
              <%= f.input :address %>
              <%= f.input :zipcode, as: :integer %>
              <%= f.input :city %>
              <%= f.input :country, as: :string %>
            </div>
            <%= f.input :further_info, as: :text %>
          </div>
        <% end %>
        <div class="form-part-summary">
          <div class="summary-items">
            <div class="summary-item">
              <h5>Bedrooms</h5>
              <p data-calculate-price-target="sumbed"></p>
            </div>
            <div class="summary-item">
              <h5>Bathrooms</h5>
              <p data-calculate-price-target="sumbat"></p>
            </div>
            <div class="summary-item">
              <h5>Cleaning Type</h5>
              <p data-calculate-price-target="sumtyp"></p>
            </div>
            <div class="summary-item">
              <h5>Cleaning Time</h5>
              <p data-calculate-price-target="sumtim"></p>
            </div>
            <div class="summary-item">
              <h5>Number of Visits</h5>
              <p data-calculate-price-target="sumnum"></p>
            </div>
            <div class="summary-item">
              <h5>Date</h5>
              <p data-calculate-price-target="sumdat"></p>
            </div>
            <div class="summary-item">
              <h5>Time</h5>
              <p data-calculate-price-target="sumhou"></p>
            </div>
            <div class="summary-item">
              <h5>Fee</h5>
              <p data-calculate-price-target="sumtot"></p>
            </div>
          </div>
          <%= f.button :submit, class: 'my-standard-button' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
